<div class="container">
  <h2 align="center">Edit <%= @user.email %></h2>

  <%= form_for(@user, url: reassign_user_path) do |f| %> 

    <div class="field">
      <%= f.label "Department" %><br>
      <%= f.select(:department_id) do %>
	<% departments_array = Department.all.map {|dept| [dept.name, dept.id]} %>
	<%= options_for_select(departments_array, @user.department_id) %>
      <% end %>
    </div>

    <div class="field">
      <%= f.label "Role" %><br>
      <%= f.select(:role) do %>
	<%= options_for_select([['Student', 'student'], ['Faculty', 'faculty'], ['Admin', 'admin']], @user.role) %>
      <% end %>
    </div>

    <div class="field">
      <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
      <%= f.password_field :current_password, autocomplete: "off" %>
    </div>


    <div class="actions">
      <%= f.submit "Update" %>
    </div>
  <% end %>

  <div align="center">
    <h3>Delete this account</h3>

    <%= button_to "Delete account", registration_path(@user), data: { confirm: "This will permanently delete the account for #{@user.email}. Are you sure?" }, method: :delete %>
    <br><br>
    <%= link_to "Back", :back %>
  </div>
</div>
