<div class="navbar-customized">
  <ul>
    <% if !user_signed_in? || current_user.role == 'student' %>
      <a href="<%= url_for(choose_department_path) %>"><li>New Issue</li></a>
      <% if user_signed_in? && current_user.role == 'student' %>
	<a href="<%= url_for(student_issues_path) %>"><li>Track Issue</li></a> 
      <% end %> 
    <% elsif current_user.role == 'faculty' %>  
      <a href="<%= url_for(student_issues_path) %>"><li>See open issues</li></a>  
    <% elsif current_user.role == 'admin' %>
      <a href="<%= url_for(issues_path) %>"><li>See issues</li></a>  
      <a href="<%= url_for(manage_users_path) %>"><li>Manage users</li></a>
    <% end %>
    <% if user_signed_in? %>
      <li id="right"><%= link_to "Logout", destroy_user_session_path, :method => :delete %></li>
    <% else %>
      <a href="<%= url_for(new_user_registration_path) %>"><li id="right">Sign Up</li></a>
      <a href="<%= url_for(new_user_session_path) %>"><li id="right">Login</li></a> 
    <% end %>
  </ul>
</div>
